name: Update README

on:
  schedule:
    - cron: '0 0 * * 0'  # Runs every Sunday at midnight
  workflow_dispatch:  # Allows manual triggering of the workflow

jobs:
  update-readme:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.x'

    - name: Install dependencies
      run: |
        pip install requests

    - name: Run update_list.py
      run: |
        python update_list.py

    - name: Run generate_list.py
      run: |
        python generate_list.py

    - name: Commit and push changes
      run: |
        git config --global user.name 'github-actions[bot]'
        git config --global user.email 'github-actions[bot]@users.noreply.github.com'
        git add README.md list.json
        git commit -m 'Update README.md and list.json [skip ci]'
        git push
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}